body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  font-family: Helvetica;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  outline: none;
}
input {
  padding: 0;
  border: none;
  outline: none;
}
html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.flex {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
}
.flex-vertical {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-space {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.flex-vertical-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-pack-around {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
}
.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.bg {
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
}
.font {
  font-size: 0.56296296rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}
#m-login {
  position: absolute;
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  z-index: 1001;
  background: #f3f5f7;
}
#m-login .login-header {
  width: 100%;
  height: 1.95555556rem;
  background: #f9f9f9;
  border-bottom: 3px solid #bbb;
}
#m-login .return {
  position: absolute;
  top: 0;
  display: block;
  width: 1.48148148rem;
  height: 100%;
  text-align: center;
}
#m-login .return a {
  display: inline-block;
  width: 0.91851852rem;
  height: 0.91851852rem;
  margin-top: 0.53333333rem;
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
  background-position: -0.07407407rem -2.93333333rem;
}
#m-login h3 {
  width: 100%;
  font-size: 0.56296296rem;
  font-size: 0.59259259rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 0.65185185rem;
  line-height: 1.95555556rem;
  text-align: center;
  color: #616161;
}
.input {
  text-align: center;
  padding-top: 0.75555556rem;
}
.input .input-wrap {
  position: relative;
  margin: 0.28148148rem auto;
}
.input input {
  font-size: 0.56296296rem;
  font-size: 0.59259259rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  width: 14.66666667rem;
  height: 1.91111111rem;
  border: 2px solid #d7d7d7;
  background: #fff;
  border-radius: 9px;
  font-size: 0.66666667rem;
  text-indent: 0.26666667rem;
  color: #ccc;
}
.input .show-password {
  position: absolute;
  top: 0.31111111rem;
  right: 0.88888889rem;
  width: 2.31111111rem;
  height: 1.33333333rem;
  border: 0.04444444rem solid #e3e5e9;
  border-radius: 0.6962963rem;
}
.input .show-password span {
  display: block;
  height: 1.3037037rem;
  line-height: 1.3037037rem;
  font-size: 0.59259259rem;
  text-align: center;
  letter-spacing: 2px;
}
.input .show-password .show-text {
  position: absolute;
  left: 0.14814815rem;
  z-index: 1003;
  color: #fff;
}
.input .show-password .show-bpwd {
  position: absolute;
  top: -0.05925926rem;
  right: 0.14814815rem;
  z-index: 1003;
  color: #e3e5e9;
}
.input .show-password .show-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1004;
  height: 1.3037037rem;
  width: 1.3037037rem;
  border: 0.02962963rem solid #e3e5e9;
  border-radius: 50%;
  background: #fff;
}
.input .code-box {
  position: absolute;
  top: 0.47407407rem;
  right: 0.88888889rem;
  display: block;
  width: 3.33333333rem;
  height: 1.03703704rem;
  border-left: 0.04444444rem solid #d7d7d7;
}
.input .code-box .imgCode {
  width: 3.33333333rem;
  height: 1.03703704rem;
}
.input .entry {
  margin-top: 1.76296296rem;
  border: none;
  background: #eee;
  color: #85878a;
  letter-spacing: 0.22222222rem;
  text-indent: 0;
}
.input label {
  position: relative;
  margin-left: 0.75555556rem;
  margin-top: 0.45925926rem;
  display: block;
  width: 5.92592593rem;
  height: 1.18518519rem;
  line-height: 1.18518519rem;
}
.input label .checkbox {
  display: block;
  width: 0.85925926rem;
  height: 0.85925926rem;
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
  background-position: -0.07407407rem -3.97037037rem;
}
.input label .checktext {
  position: absolute;
  height: 0.85925926rem;
  top: 0;
  left: 1.03703704rem;
  font-size: 0.56296296rem;
  font-size: 0.59259259rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  color: #616161;
  line-height: 0.8rem;
}
.password-nav {
  zoom: 1;
  margin-top: 0.9037037rem;
}
.password-nav:after {
  content: "";
  display: block;
  clear: both;
}
.password-nav:after {
  content: "";
  display: block;
  clear: both;
}
.password-nav a {
  font-size: 0.56296296rem;
  font-size: 0.59259259rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  color: #333;
  display: block;
  width: 2.47407407rem;
  height: 0.9037037rem;
  padding-left: 0.93333333rem;
  line-height: 0.9037037rem;
}
.password-nav .back {
  float: left;
  margin-left: 0.77037037rem;
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
  background-position: -0.19259259rem -1.11111111rem;
}
.password-nav .quick-register {
  float: right;
  margin-right: 0.77037037rem;
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
  background-position: -0.22222222rem -1.97037037rem;
}
.other-login {
  padding: 0 0.66666667rem 2.2962963rem;
  margin-top: 1.4962963rem;
  line-height: 0.88888889rem;
}
.other-login .other-login-header {
  zoom: 1;
}
.other-login .other-login-header:after {
  content: "";
  display: block;
  clear: both;
}
.other-login .other-login-header:after {
  content: "";
  display: block;
  clear: both;
}
.other-login span {
  display: block;
}
.other-login .other-right,
.other-login .other-left {
  margin-top: 0.62222222rem;
  width: 4.8rem;
  height: 2px;
  background: #d7d7d7;
}
.other-login .other-right {
  float: right;
}
.other-login .other-left {
  float: left;
}
.other-login .middle {
  float: left;
  width: 5.06666667rem;
  text-align: center;
  font-size: 0.59259259rem;
  color: #616161;
}
.other-login .login-list {
  margin: 0.74074074rem auto 0;
  color: #616161;
  font-size: 0.45925926rem;
}
.other-login .login-list ul {
  width: 1.00740741rem;
  margin: 0 auto;
}
.other-login .login-list li {
  float: left;
  width: 1.00740741rem;
  height: 1.64444444rem;
}
.other-login .login-list .login-list-text {
  display: block;
  width: 1.00740741rem;
  height: 0.60740741rem;
  line-height: 0.60740741rem;
  text-align: center;
}
.other-login .login-list .login-list-bg {
  display: block;
  height: 1.03703704rem;
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
  background-position: -0.01481481rem -5.8962963rem;
}
.bg {
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
}
.font {
  font-size: 0.56296296rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
#m-register {
  position: absolute;
  top: -100%;
  width: 100%;
  min-width: 500px;
  height: 100%;
  z-index: 1001;
  background: #f3f5f7;
}
#m-register .login-header {
  width: 100%;
  height: 1.95555556rem;
  background: #f9f9f9;
  border-bottom: 3px solid #bbb;
}
#m-register .return {
  position: absolute;
  top: 0.57777778rem;
  left: 0.72592593rem;
  display: block;
  width: 0.91851852rem;
  height: 0.91851852rem;
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
  background-position: -0.07407407rem -2.93333333rem;
}
#m-register h3 {
  font-size: 0.56296296rem;
  font-size: 0.59259259rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  font-size: 0.65185185rem;
  line-height: 1.95555556rem;
  text-align: center;
  color: #616161;
}
.input {
  text-align: center;
  padding-top: 0.75555556rem;
}
.input .input-wrap {
  position: relative;
  margin: 0.28148148rem auto;
}
.input input {
  font-size: 0.56296296rem;
  font-size: 0.59259259rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  width: 14.66666667rem;
  height: 1.91111111rem;
  border: 2px solid #d7d7d7;
  background: #fff;
  border-radius: 9px;
  font-size: 0.66666667rem;
  text-indent: 0.26666667rem;
  color: #ccc;
}
.input .show-password {
  position: absolute;
  top: 0.31111111rem;
  right: 0.88888889rem;
  width: 2.31111111rem;
  height: 1.33333333rem;
  border: 0.04444444rem solid #e3e5e9;
  border-radius: 0.6962963rem;
}
.input .show-password span {
  display: block;
  height: 1.3037037rem;
  line-height: 1.3037037rem;
  font-size: 0.59259259rem;
  text-align: center;
  letter-spacing: 2px;
}
.input .show-password .show-text {
  position: absolute;
  left: 0.14814815rem;
  z-index: 1003;
  color: #fff;
}
.input .show-password .show-bpwd {
  position: absolute;
  top: -0.05925926rem;
  right: 0.14814815rem;
  z-index: 1003;
  color: #e3e5e9;
}
.input .show-password .show-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1004;
  height: 1.3037037rem;
  width: 1.3037037rem;
  border: 0.02962963rem solid #e3e5e9;
  border-radius: 50%;
  background: #fff;
}
.input .code-box {
  position: absolute;
  top: 0.47407407rem;
  right: 0.88888889rem;
  display: block;
  width: 3.33333333rem;
  height: 1.03703704rem;
  border-left: 0.04444444rem solid #d7d7d7;
}
.input .code-box .imgCode {
  width: 3.33333333rem;
  height: 1.03703704rem;
}
.input .entry {
  margin-top: 1.76296296rem;
  border: none;
  background: #eee;
  color: #85878a;
  letter-spacing: 0.22222222rem;
  text-indent: 0;
}
.input label {
  position: relative;
  margin-left: 0.75555556rem;
  margin-top: 0.45925926rem;
  display: block;
  width: 5.92592593rem;
  height: 1.18518519rem;
  line-height: 1.18518519rem;
}
.input label .checkbox {
  display: block;
  width: 0.85925926rem;
  height: 0.85925926rem;
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
  background-position: -0.07407407rem -3.97037037rem;
}
.input label .checktext {
  position: absolute;
  height: 0.85925926rem;
  top: 0;
  left: 1.03703704rem;
  font-size: 0.56296296rem;
  font-size: 0.59259259rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  color: #616161;
  line-height: 0.8rem;
}
.password-nav {
  zoom: 1;
  margin-top: 0.9037037rem;
}
.password-nav:after {
  content: "";
  display: block;
  clear: both;
}
.password-nav:after {
  content: "";
  display: block;
  clear: both;
}
.password-nav a {
  font-size: 0.56296296rem;
  font-size: 0.59259259rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  color: #333;
  display: block;
  width: 2.47407407rem;
  height: 0.9037037rem;
  padding-left: 0.93333333rem;
  line-height: 0.9037037rem;
}
.password-nav .back {
  float: left;
  margin-left: 0.77037037rem;
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
  background-position: -0.19259259rem -1.11111111rem;
}
.password-nav .quick-register {
  float: right;
  margin-right: 0.77037037rem;
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
  background-position: -0.22222222rem -1.97037037rem;
}
.other-login {
  padding: 0 0.66666667rem 2.2962963rem;
  margin-top: 1.4962963rem;
  line-height: 0.88888889rem;
}
.other-login .other-login-header {
  zoom: 1;
}
.other-login .other-login-header:after {
  content: "";
  display: block;
  clear: both;
}
.other-login .other-login-header:after {
  content: "";
  display: block;
  clear: both;
}
.other-login span {
  display: block;
}
.other-login .other-right,
.other-login .other-left {
  margin-top: 0.62222222rem;
  width: 4.8rem;
  height: 2px;
  background: #d7d7d7;
}
.other-login .other-right {
  float: right;
}
.other-login .other-left {
  float: left;
}
.other-login .middle {
  float: left;
  width: 5.06666667rem;
  text-align: center;
  font-size: 0.59259259rem;
  color: #616161;
}
.other-login .login-list {
  margin: 0.74074074rem auto 0;
  color: #616161;
  font-size: 0.45925926rem;
}
.other-login .login-list ul {
  width: 1.00740741rem;
  margin: 0 auto;
}
.other-login .login-list li {
  float: left;
  width: 1.00740741rem;
  height: 1.64444444rem;
}
.other-login .login-list .login-list-text {
  display: block;
  width: 1.00740741rem;
  height: 0.60740741rem;
  line-height: 0.60740741rem;
  text-align: center;
}
.other-login .login-list .login-list-bg {
  display: block;
  height: 1.03703704rem;
  background: url(../bg/iconBg.png) no-repeat;
  background-size: 1.00740741rem 11.43703704rem;
  background-position: -0.01481481rem -5.8962963rem;
}
.font {
  font-size: 0.59259259rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}
.sprites {
  background: url(../bg/jd-sprites.png) no-repeat;
  background-size: 8.88888889rem 8.88888889rem;
}
.m-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 1.77777778rem;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
  background: rgba(226, 27, 43, 0);
}
.m-header h1 {
  width: 2.47407407rem;
  height: 0.88888889rem;
  background: url(../bg/jd-sprites.png) no-repeat;
  background-size: 8.88888889rem 8.88888889rem;
  background-position: 0 -4.85925926rem;
}
.m-header div {
  font-size: 0.56296296rem;
  font-size: 0.59259259rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  height: 1.34814815rem;
  width: 10.44444444rem;
  border-radius: 0.65185185rem;
  background: #fff;
}
.m-header div span {
  float: left;
  margin-top: 0.26666667rem;
  margin-left: 0.35555556rem;
  width: 0.82962963rem;
  height: 0.82962963rem;
  background: url(../bg/jd-sprites.png) no-repeat;
  background-size: 8.88888889rem 8.88888889rem;
  background-position: -2.66666667rem -4.85925926rem;
}
.m-header div form {
  float: left;
  letter-spacing: 5px;
  background-color: #fff;
}
.m-header div form input {
  width: 8.14814815rem;
  margin-left: 0.26666667rem;
  height: 1.34814815rem;
  font-size: 0.59259259rem;
}
.m-header a {
  font-size: 0.56296296rem;
  font-size: 0.59259259rem;
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
  display: block;
  height: 1.77777778rem;
  line-height: 1.77777778rem;
  color: #fff;
  text-align: center;
}
.wrapper {
  height: 100%;
  overflow: hidden;
  margin-bottom: 1.97037037rem;
  background: #f3f3f3;
}
.scroller {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-bottom: 10px;
}
.scroll-to-top {
  position: absolute;
  bottom: 2.56296296rem;
  right: 0.4rem;
  width: 1.48148148rem;
  height: 1.48148148rem;
  background: url(../bg/scroll-to-top-icon.png) no-repeat center center;
  background-size: 1.48148148rem 1.48148148rem;
  display: none;
}
.m-pics {
  width: 16rem;
  height: 7.17037037rem;
  position: relative;
}
.m-pics ul {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  transition: 1s;
}
.m-pics ul li a {
  display: block;
}
.m-pics ul li img {
  display: block;
  width: 16rem;
}
.m-pics .dot {
  width: 100%;
  padding: 0.14814815rem 0;
  position: absolute;
  bottom: 0;
  z-index: 20;
  text-align: center;
}
.m-pics .dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 10px;
}
.m-pics .dot .active {
  background: #fff;
}
.m-icon .icon-list ul {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: justify;
  justify-content: space-around;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.m-icon .icon-list ul li {
  width: 3.2rem;
  height: 3.18518519rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.m-icon .icon-list ul li a {
  text-align: center;
}
.m-icon .icon-list ul li a img {
  width: 1.28888889rem;
  height: 1.28888889rem;
}
.m-icon .icon-list ul li a span {
  display: block;
  font-size: 0.48888889rem;
  color: #030303;
}
.m-icon .scroll-info {
  margin: 0 auto 0.35555556rem;
  width: 15.25925926rem;
  height: 1.33333333rem;
  border-radius: 0.22222222rem;
  background: url(../bg/jd-news-tit.png) #ffffff no-repeat 0.35555556rem 0.35555556rem;
  background-size: 3.22962963rem 0.71111111rem;
  font-size: 0.47407407rem;
}
.m-icon .scroll-info .info {
  float: left;
  width: 9.18518519rem;
  height: 1.33333333rem;
  margin-left: 3.94074074rem;
  overflow: hidden;
}
.m-icon .scroll-info .info li {
  height: 1.33333333rem;
  line-height: 1.33333333rem;
}
.m-icon .scroll-info .info span {
  margin-right: 0.34074074rem;
  color: #f23030;
}
.m-icon .scroll-info a {
  float: right;
  margin-top: 0.35555556rem;
  margin-left: 0.16296296rem;
  padding: 0 0.23703704rem;
  width: 1.00740741rem;
  height: 0.71111111rem;
  line-height: 0.71111111rem;
  border-left: 3px solid #ececec;
  color: #181818;
}
.m-pop {
  width: 16rem;
  height: 7.40740741rem;
  background: #fff;
}
.m-pop .popHeader {
  height: 1.42222222rem;
}
.m-pop .popHeader .clock-icon {
  float: left;
  margin-left: 0.45925926rem;
  margin-top: 0.19259259rem;
  width: 0.77037037rem;
  height: 0.97777778rem;
  background: url(../bg/jd-sprites.png) no-repeat;
  background-size: 8.88888889rem 8.88888889rem;
  background-position: -3.76296296rem -4.85925926rem;
}
.m-pop .popHeader .pop-title {
  margin-left: 0.23703704rem;
  margin-top: 0.41481481rem;
  white-space: nowrap;
  font-size: 0.59259259rem;
  color: #ca1327;
  float: left;
}
.m-pop .popHeader .timer {
  float: left;
  margin-left: 0.47407407rem;
  margin-top: 0.31111111rem;
}
.m-pop .popHeader .timer span {
  float: left;
  font-size: 0.42962963rem;
  width: 0.44444444rem;
  text-align: center;
  line-height: 0.8rem;
}
.m-pop .popHeader .timer .time-number {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.07407407rem;
  background: #3d3d3d;
  color: #fff;
}
.m-pop .popHeader .more {
  float: left;
  margin-left: 5.0962963rem;
  margin-top: 0.45925926rem;
  color: #686868;
  font-size: 0.44444444rem;
}
.m-pop .poplist {
  width: 16rem;
  overflow: hidden;
  margin-top: 0.14814815rem;
}
.m-pop .poplist ul {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  padding-right: 0.74074074rem;
}
.m-pop .poplist ul .pop-item {
  width: 4.53333333rem;
  height: 5.86666667rem;
  background: url(../bg/line.png) no-repeat right top;
  background-size: 0.02962963rem 3.6rem;
}
.m-pop .poplist ul .pop-item .item {
  overflow: hidden;
  padding: 0 0.35555556rem;
}
.m-pop .poplist ul .pop-item img {
  width: 3.6rem;
  height: 3.6rem;
}
.m-pop .poplist ul .pop-item span {
  font-size: 0.45925926rem;
  display: block;
  height: 0.84444444rem;
  text-align: center;
  line-height: 0.84444444rem;
}
.m-pop .poplist ul .pop-item .now-price {
  color: #ed5657;
}
.m-pop .poplist ul .pop-item .or-price {
  color: #898989;
  text-decoration: line-through;
}
.m-pop .poplist ul .pop-all-item {
  -webkit-writing-mode: vertical-rl;
  letter-spacing: 10px;
  background: #f5f5f5;
  border-radius: 0.07407407rem;
  width: 1.18518519rem;
  height: 4.44444444rem;
  position: relative;
}
.m-pop .poplist ul .pop-all-item i {
  display: block;
  position: absolute;
  top: 0.2962963rem;
  left: 0.34814815rem;
  width: 0.48888889rem;
  height: 0.48888889rem;
  background: url(../bg/jd-sprites.png) no-repeat -4.78518519rem -4.85925926rem;
  background-size: 8.88888889rem 8.88888889rem;
}
.m-pop .poplist ul .pop-all-item a {
  display: block;
  line-height: 1.18518519rem;
  text-align: center;
  font-size: 0.44444444rem;
  color: #666;
}
.m-product .product-header {
  zoom: 1;
  margin-top: 0.41481481rem;
  height: 1.68888889rem;
  padding: 0 0.22222222rem;
  line-height: 1.68888889rem;
  font-size: 0.56296296rem;
  text-align: center;
  color: #85878a;
}
.m-product .product-header:after {
  content: "";
  display: block;
  clear: both;
}
.m-product .product-header:after {
  content: "";
  display: block;
  clear: both;
}
.m-product .product-header span {
  float: left;
  display: block;
}
.m-product .product-header .right,
.m-product .product-header .left {
  width: 5.62962963rem;
  height: 0.02962963rem;
  background: #cbcbcb;
  margin: 0.82962963rem 0;
}
.m-product .product-header .middle {
  width: 4.2962963rem;
  letter-spacing: 10px;
  text-align: center;
}
.m-product .product {
  width: 16rem;
  zoom: 1;
}
.m-product .product:after {
  content: "";
  display: block;
  clear: both;
}
.m-product .product:after {
  content: "";
  display: block;
  clear: both;
}
.m-product .product .productList {
  float: left;
}
.m-product .product .productList .item {
  margin-top: 0.17777778rem;
  background: #fff;
}
.m-product .product .productList img {
  display: block;
  width: 7.91111111rem;
}
.m-product .product .productList .text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 7.43703704rem;
  height: 1.48148148rem;
  margin: 0.14814815rem 0 0.23703704rem;
  font-family: Helvetica;
  font-size: 0.53333333rem;
  line-height: 0.74074074rem;
  color: #232326;
}
.m-product .product .productList .price-same {
  height: 1.57037037rem;
  padding: 0 0.17777778rem;
  line-height: 1.57037037rem;
}
.m-product .product .productList .price-same .price {
  float: left;
  font-size: 0.59259259rem;
  color: #f23030;
}
.m-product .product .productList .price-same .price .price-icon {
  font-size: 0.41481481rem;
}
.m-product .product .productList .price-same .same {
  float: right;
  margin-top: 0.23703704rem;
  display: block;
  width: 2.22222222rem;
  height: 1.11111111rem;
  line-height: 1.11111111rem;
  border: 1px solid #c0c0c0;
  border-radius: 0.07407407rem;
  font-size: 0.48888889rem;
  color: #686868;
  text-align: center;
}
.m-product .product .right {
  float: right;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.footer ul {
  zoom: 1;
  background: #fff;
  box-shadow: 0 -1px 50px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.footer ul:after {
  content: "";
  display: block;
  clear: both;
}
.footer ul:after {
  content: "";
  display: block;
  clear: both;
}
.footer li {
  float: left;
  text-align: center;
  width: 3.2rem;
  height: 1.97037037rem;
}
.footer li a {
  display: block;
}
.footer li img {
  height: 1.97037037rem;
}
